{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/login.css' %}">
</head>
	<body>
		<section class="login">
			<img src="{%static 'images/logo.gif' %}" alt="logo" width="208.5" height="216">
			<h1><a href="{% url 'login'%}">ParkaFreebia</a></h1>

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %}
		</section>

	</body>
</html>