{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/login.css' %}">
<script src="js/login.js"></script>
</head>
	<body>
		<section class="login">
			<img src="images/logo.gif" alt="logo" width="208.5" height="216">
			<h1>ParkaFreebia</h1>
			<form action="index.html">
				<input type="text" name="username" id="username" placeholder="Email or Mobile"><br>
				<input type="password" name="password" id="password" placeholder="Password"><br>
				<button type="submit" name="submit" id="submit">Submit</button>
			</form>
		</section>

	</body>
</html>
